body {
	font-family: Tahoma;
	font-size: 14px;
	margin: auto;
	background: #f1f1f1;
}

.container {
	display: block;
	width: 38%;
	margin: 25px auto;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
}

h1
{
    font-size: 20px;
	font-weight: 500;
    margin: 0 0 10px;
    line-height: 1.3;
}

a {
	color: black;
	text-decoration:none;
}
a:hover {
  color: #B600DD;
}

a.btn {
	color: white;
}
.d-center
{
    margin: 0 auto 15px;
}

.m-responsive
{
    max-width: 100%;
    height: auto;
    display: block;
}

.text-center
{
    text-align: center;
}
.m-40
{
    margin: 15px 0;
}

.btn
{
    font-size: 16px;
	font-weight: 500;
    color: #fff;
    text-decoration: none;
    background: #B600DD;
    border-radius: 30px;
    padding: 15px 40px;
    font-weight: 400;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-transform: uppercase;
}
.btn:hover
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

@media(max-width: 990px) {

	.container {
		border-radius: 15px;
		width: 55%;
	}
	
	.btn {
		font-size: 14px;
	}
}

@media(max-width: 790px) {

	.container {
		border-radius: 15px;
		width: 65%;
	}
	
	.btn {
		font-size: 14px;
	}
}

@media(max-width: 590px) {

	.container {
		width: 90%;
	}
	
	.btn {
		font-size: 14px;
	}
}